html { height: 100%; }

body {
    font-family: Inter,proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    color: #363636;
    line-height: 1.6;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.btn {
    color: #fff;
    background-color: #765ee8;
    border-color: #765ee8;
    border-radius: 0;
    font-size: 1rem;
    font-weight: 500;
}

.btn:hover {
    color: #fff;
    background-color: #5A3DE3;
}

.bg-blue-gray {
    background-color: #edf2f5;
}

.left-0 {
    left: 0!important;
}
.bottom-0 {
    bottom: 0!important;
}

.w-500p {
    width: 500px!important;
}

.w-100 {
    width: 100%!important;
}
.position-absolute {
    position: absolute!important;
}
@media (min-width: 768px) {
.d-md-block {
    display: block!important;
}
}
@media (max-width: 767.98px) {
.h2, h2 {
    font-size: calc(1.325rem + .9vw);
}
}

h2, h3 {
    font-weight: 500;
}

.h2, h2 {
    font-size: 1.8rem;
    margin-bottom: 0.8rem;
}

.h3, h3 {
    font-size: 1.5rem;
}
.mt-lg-5, .my-lg-5 {
    margin-top: 1.5rem!important;
}

@media (min-width: 768px) {
.pb-md-6, .py-md-6 {
    padding-bottom: 4rem!important;
}

.mb-md-6, .my-md-6 {
    margin-bottom: 4rem!important;
}

}

.position-relative {
    position: relative!important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

